body
{
    background-image: url("http://orig06.deviantart.net/96f0/f/2012/053/d/6/night_fantasy_re_edit_by_txvirus-d4qlgzg.jpg");
}
canvas 
{
    border:1px solid dimgray;
    background-color:black;
    margin-left: 37%;
}
body
{
    background-color: black;
}
p
{
	color: beige;
    text-align: center;
    font-family: 'Bungee Inline', cursive;
    font-size: 1.25em;
    line-height: 55%;
}
#fly
{
    margin-left: 43.25%;
    cursor: pointer;
    background-color: dimgray;
    color: darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    border: darkgray;
    box-shadow: 0 9px #999;
    border-radius: 10px;
    outline: none;
    margin-top: 5px;
}
#restart
{
    margin-left: 0%;
    cursor: pointer;
    background-color: dimgray;
    color: darkgray;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    border: darkgray;
    box-shadow: 0 9px #999;
    border-radius: 10px;
    outline: none;
    margin-top: 10px;
}
button:hover
{
    color: darkgray;
    background-color: gray;
    box-shadow: 0 5px #666;
}
button:active
{
    background-color: darkgray;
    color: gray;
    transform: translateY(4px);
}