@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body
{
    background-image: url("http://silviahartmann.com/background-tile-art/images/black_woven_seamless_tile.jpg");
}
#container
{
    margin: 0 auto;
    width: 960px;
    background-color: yellow;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
}
footer
{
    text-align: center;
    margin-top: 380px;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    padding-left: 38.5%;
    padding-right: 40%;
    background-color: lightblue;
    border-radius: 10px;
}
h1
{
    text-align: center;
    height: 40px;
    font-family: "Roboto", sans-serif;
}
article
{
    float: right;
    width: 65%;
    padding-bottom: 15px;
    padding-left: 70px;
    margin-left: 7px;
    font-size: 0.9em;
    background-color: cyan;
    border-radius: 10px;
}
#portrait
{
    width: 225px;
    height: auto;
    float: left;
    margin-top: 20px;
    margin-left: -50px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 5px;
}
aside
{
    float: left;
    width: 25%;
    padding-left: 10px;
    padding-right: -50px;
    padding-bottom: 10px;
    background-color: #C8A2C8;
    border-radius: 10px;
}
header
{
    background-color: violet;
    border-radius: 10px;
}
p
{
    font-family: "Roboto", sans-serif;
}
h2
{
    font-family: "Roboto", sans-serif;
}
li
{
    font-family: "Roboto", sans-serif;
}